@using Novel.Common.Models
@{
    ViewData["Title"] = "Index";
    List<NearlyUpdateNovel> updateNovels = ViewBag.NearlyUpdateNovels;
    List<NovelTab> tabs = ViewBag.NovelTabs;
    int selectNum = ViewBag.SelectNum;
}
<style>
    .list-group-item-active {
        position: relative;
        display: block;
        padding: .75rem 1.25rem;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125);
        z-index: 2;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
</style>

<ul class="list-group list-group-horizontal-lg">
    @foreach (var tab in tabs)
    {
        <li style="cursor:pointer" class=@(selectNum == tab.Order?"list-group-item-active":"list-group-item") onclick="TabClick(@tab.Order)">@tab.Title</li>
    }
</ul>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        @foreach (var item in updateNovels)
        {
            <div class="card   mb-3 border border-info rounded">
                <div class="card-body">
                    <span class="card-text">@item.Tag</span>
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.NearlyChapter</p>
                    <p class="card-text">作者:@item.Author</p>
                    <p class="card-text">更新时间:@item.UpdateTime</p>
                    <a onclick="AddBookShelf('@item.Title','@item.Url')" class="btn btn-outline-primary">加入书架</a> <a href="#" class="btn btn-outline-success ml-3">阅  读</a>
                </div>
            </div>
        }
    </div>
</div>
<script>
    function TabClick(order) {
        window.location.href = "/Novel/index?order=" + order;
    }
    function AddBookShelf(title, url) {
        var order = { Title: title, NovelUrl: url };
        $.post("/Novel/AddBookShelf", order, function (res) {
            if (res) {
               
            } else {
              
            }
        })

    }
</script>

